<h2 class="text-white" style="padding-top: 10px;">管理人のつぶやき</h2>
<% if current_user.admin? %>
    <p class="admin" style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
    <div style="display: flex; justify-content: flex-end;">
        <p id="post" style="text-align: right;"><a href="/nogiposts/new">投稿する</a></p>
    </div>
<% else %>
    <p class="photo" style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>    
<% end %>
<% @nogiposts.each do |post| %>
    <p style="font-weight: bold;">[管理人]</p>
    <h6><%= post.content %></h6>
    <div style="float: left;">
        <div id="likes_buttons_<%= post.id %>" style="display: inline-block; margin-top: 20px;">
            <%= render partial: "likes/like", locals: { post: post} %>
        </div>
        <% if current_nogimasa.admin?%>
            <p style="display: inline-block; margin-left: 100px;"><a href="javascript:delData(<%= post.id %>);" style="color: purple;">Delete</a></p>
        <% end %>
    </div>
    <hr style="border: solid 1px black; clear: both;">
<% end %>


<script>
function delData(num){
    if (confirm("この投稿を削除しますか？")){
        document.location="/nogiposts/"+num;
    }
    return false;
}
</script>