<h1 style=" color: white;">Nogiステ(乃木坂46 LiveStation)</h1>
<p style="text-align: left; color: white;" class="text-white">ようこそ<%= current_nogimasa.username %>さん！</p>       
<h4 style="text-align: center; margin-top: 80px;"><a href="/posts" style="color: purple;">ライブ写真共有</a><h3>
<h4 style="text-align: center; margin-top: 80px;"><a href="/nogizakas" style="color: purple;">ユーザー一覧</a></h3>
<h4 style="text-align: center; margin-top: 80px;"><a href="/nogiposts" style="color: purple;">管理人のつぶやき。。</a></h3>

