<h1 class="title" style="color: white;">乃木ステ(乃木坂46 LiveStation)</h1>
<p style="text-align: left; " class="text-white">ようこそ<%= current_nogimasa.username %>さん！</p>
<h4 class="top-choice"style="text-align: center; margin-top: 150px;"><a href="/posts" style="color: purple;">ライブ写真共有</a><h3>
<h4 class="top-choice"style="text-align: center; margin-top: 100px;"><a href="/nogizakas" style="color: purple;">ユーザー一覧</a></h3>