<h3>投稿ページ</h3>
<p>乃木坂46 Zepp Live~がんばれ今野~に関連した写真を投稿しましょう！</p><p style="text-align: right;"><a href="/nogiimages/2012/konno">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<hr>
<%= form_for(@post, url:{comtroller:"nogiimages", action:"create"}) do |form| %>
    <div class="form-group">
        <% form.fields_for :file do |i|%>
            <% i.file_field :file, multiple: true, name: "images[file][]"%>
        <% end %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
<% end %>
