<h1 class="display-4 text-white style="margin-top: 10px; text-align: right;">Nogiステ</h1>
<p style="text-align: left;" class="text-white">ようこそ<%= current_nogimasa.username %>さん！</p><p style="text-align: right;"><a href="/nogiimages">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<h4 style="text-align: center;"><a href="/nogiimages/2012/konno">乃木坂46 Zepp Live~がんばれ今野~</a></h4>