<h1 class="text-white">乃木ステ(乃木坂46 LiveStation)</h1>
<p class="text-white">ようこそゲストさん！</p>
<h4 class="description" style="font-size: 28px; text-align: center;">あの時のLIVEに行きたいあなたへ<br>過去の乃木坂LIVEに関連した写真を投稿してファンでシェアするサービス</h4>
<h5 class="enter" style="margin-top: 50px; text-align: center;"><%=link_to "ログイン&gt;&gt;".html_safe, {controller: "nogitops", action:"index"}, :style=>"color: white;" %></h5>
<h5 class="signout" style="margin-top: 40px; text-align: center;"><%= link_to "サインアウト&gt;&gt;".html_safe,destroy_nogimasa_session_path, method: :delete, :style=>"color: white;" %></h5>