<h1 class=" text-white">Nogiステ(乃木坂46 LiveStation)</h1>
<p class="text-white">ようこそゲストさん！</p>
<h5 style="margin-top: 50px;"><%=link_to "ログイン&gt;&gt;".html_safe, {controller: "nogitops", action:"index"}, :style=>"color: purple;" %></h5>
<h5><%= link_to "サインアウト&gt;&gt;".html_safe,destroy_nogimasa_session_path, method: :delete, :style=>"color: purple;"%></h5>
