<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2020~</h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/ten_taipei" style="color: purple;">Live in Taipei 2020(台北アリーナ) (<%= Image.where(place: "[\"ten_taipei\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/eighth" style="color: purple;">8th YEAR BIRTHDAY LIVE(ナゴヤドーム) (<%= Image.where(place: "[\"eighth\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;">白石麻衣卒業コンサート（ライブ配信）</h4>
<h4 style="text-align: center; margin-top: 18px;">4期生ライブ(ライブ配信)</h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/ten_under" style="color: purple;">アンダーライブ2020(日本武道館) (<%= Image.where(place: "[\"ten_under\"]").count %>)</a></h4>
