<h1 class="text-white style="margin-top: 10px; text-align: right;">Nogiステ(乃木坂46 LiveStation)</h1>
<div style="display: flex; justify-content: space-between;">
    <p style="text-align: left;" class="text-white">ようこそ<%= current_nogimasa.username %>さん！</p>
    <p style="text-align: right;"><a href="/posts">戻る>></a></p>
</div>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/ten_taipei" style="color: purple;">Live in Taipei(台北アリーナ)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/eighth" style="color: purple;">8th YEAR BIRTHDAY LIVE(ナゴヤドーム)</a></h4>
<h4 style="text-align: center; margin-top: 18px;">白石麻衣卒業コンサート（ライブ配信）</h4>
<h4 style="text-align: center; margin-top: 18px;">4期生ライブ(ライブ配信)</h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2020/ten_under" style="color: purple;">アンダーライブ2020(日本武道館)</a></h4>
