<h1 class="text-white style="margin-top: 10px; text-align: right;">Nogiステ(乃木坂46 LiveStation)</h1>
<div style="display: flex; justify-content: space-between;">
    <p style="text-align: left;" class="text-white">ようこそ<%= current_nogimasa.username %>さん！</p>
    <p style="text-align: right;"><a href="/posts">戻る>></a></p>
</div>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/first" style="color: purple;">1st YEAR BIRTHDAY LIVE(幕張メッセ)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_sapporo" style="color: purple;">真夏の全国ツアー2013札幌(Zepp Sapporo)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_fukuoka" style="color: purple;">真夏の全国ツアー2013福岡(Zepp Fukuoka)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_osaka" style="color: purple;">真夏の全国ツアー2013大阪(Zepp Namba)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_nagoya" style="color: purple;">真夏の全国ツアー2013名古屋(Zepp Nagoya )</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_tokyo" style="color: purple;">真夏の全国ツアー2013東京(Zepp Tokyo)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_final" style="color: purple;">真夏の全国ツアー2013 FINAL(代々木体育館)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_xmas" style="color: purple;">Merry X'mas Show 2013（日本武道館）</a></h4>