<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2012~ <span style="font-size: 25px;">( )は投稿枚数</span></h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2012/konno" style="color: purple;">Zepp Live(Zepp Namba・Zepp Nagoya) (<%= Image.where(place: "[\"konno\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2012/zepptokyo" style="color: purple;">Zepp Live in Tokyo(Zepp Tokyo) (<%= Image.where(place: "[\"zepptokyo\"]").count %>)</a></h4>