<h1 class="text-white style="margin-top: 10px; text-align: right;">Nogiステ(乃木坂46 LiveStation)</h1>
<div style="display: flex; justify-content: space-between;">
    <p style="text-align: left;" class="text-white">ライブ写真共有~2012~</p>
    <p style="text-align: right;"><a href="/posts">戻る>></a></p>
</div>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2012/konno" style="color: purple;">Zepp Live(Zepp Namba・Zepp Nagoya)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2012/zepptokyo" style="color: purple;">Zepp Live in Tokyo(Zepp Tokyo)</a></h4>